html {
    background:#f7f7f7;
}
body {
    background:#f7f7f7;
}
.navbar{
    background:#444;
}
.content{
    padding:20px;
    background:#ffffff;
}
#footer{
    position:fixed;
    width:100%;
    bottom:0px;
    background:#FFF;
    padding:10px;
}